@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);



html {
  scroll-behavior: smooth;
  background: url(ll.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
* {
  box-sizing: border-box;
}
body {
/* height: 3000px; */
  /* background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); */
  /* transition: background-color 1.9s ease; */
  min-height: 100%;
  /* background-image: url(ll.jpg); */
  overflow-x: hidden;
  width: cover;
}




section .container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

section .container h1{
  color: #fff;
  font: normal 500 35px/1 'poppins', sans-serif;
  white-space: nowrap;
  letter-spacing: 2px;
  /* animation: 3s anim-lineUp ease-out ; */
  animation-name: bounce-1;
  animation-timing-function: linear;
  animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes bounce-1 {
        50%   { transform: translateY(4px); }
        0%  { transform: translateY(4px); }
        0% { transform: translateY(0); }
    }


.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}

#section05 a {
  padding-top: 70px;
}
#section05 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}




.panel {
  /* min height incase content is higher than window height */
  min-height: 100vh;
  align-items: center;
  /* outline: 5px solid rgb(0, 0, 0); */
  /* turn above on to see the edge of panels */
}



/* NAV BAR */
header
{
    position: sticky;
    font-family: 'Poppins', sans-serif, 'Monoton', cursive;
    font-weight: 100;
    top: 0;
    left: 0;
    width: 100%;
    letter-spacing: 2px;

    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    
}

header .head
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-left: 2%;
    top: 100px;
}



header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-right: -4%;
}
header ul li a
{
    text-decoration: none;
    padding: 10px 30px;
    color:#fff;
    border-radius: 20px;
}
/* END NAV BAR */

.projects
{
    left: 42%;
    font-family: 'Poppins', sans-serif, 'Monoton', cursive;
    position: absolute;
    letter-spacing: 5px;
    color:#fff;
}



#particles-js{
    height: 1000px;
}


#scroll-progress {
  position: fixed;
  height: 2px;
  background: #ffffff;
  opacity: 0.;
}


.container2 {
  position: absolute;
  height: 0;
  /* width: 600px; */
  /* top: 60px; */
  /* left: calc(50% - 400px); */
  display: flex;
  margin-top: 10%;
  justify-items: space-between;
}

.card {
  display: flex;
  height: 400px;
  margin-top: -1%;
  width: 100%;
  margin-left: 5%;
}

.card-image img{
  /* width: 100%; */
  height: 100%;
  
}
.card-ip{
  width:50%;
}


.card-ip img{
  height: 100%;
  margin-left: -55%;
  
}


.ckeinfo {
  position: absolute;
  width: 48%;
  background: rgba(54, 54, 54, 0.27);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
  color: #fff;
  letter-spacing: 2px;
  padding: 0.8rem;
  right: -45%;
  transform-style: preserve-3d;
  transform: translateZ(20px);
}

 .ckeinfo p{
    font: normal 12px/1.5 'poppins', sans-serif;
    transform: translateZ(20px)
 }

 


 